*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.piano {
  display: flex;
  position: relative;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 20px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 10px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}